target
.idea
project/target
*.xml

.idea/libraries/SBT__org_scala_lang_scala_library_2_11_7_jar.xml

.idea/modules.xml

*.iml

.idea/modules/geekproblems-build.iml

.idea/modules/geekproblems.iml

.idea/modules.xml

.idea/modules.xml

.idea/scala_compiler.xml

.idea/sbt.xml

.idea/modules.xml
